services:
  db:
    image: postgres:16
    container_name: website_db
    environment:
      POSTGRES_USER: mywebsite
      POSTGRES_PASSWORD: password
      POSTGRES_DB: websitedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database.sql:/docker-entrypoint-initdb.d/01_init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mywebsite -d websitedb"]
      interval: 5s
      timeout: 5s
      retries: 10

  mongo:
    image: mongo:8.0
    container_name: website_mongo
    restart: always
    command: ["mongod", "--quiet"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: mywebsite
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  redis:
    image: redis:alpine
    container_name: website_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  celery_worker:
    build: .
    container_name: website_worker
    command: celery -A app.utils.celery_client.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    volumes:
      - ./app:/app/app

  api:
    build: .
    container_name: website_api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app  # hot reload khi dev

volumes:
  pgdata:
  mongo_data: