services:
  db:
    image: postgres:16
    container_name: website_db
    environment:
      POSTGRES_USER: mywebsite
      POSTGRES_PASSWORD: password
      POSTGRES_DB: websitedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database.sql:/docker-entrypoint-initdb.d/01_init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mywebsite -d websitedb"]
      interval: 5s
      timeout: 5s
      retries: 10

  mongo:
    image: mongo:6.0
    container_name: website_mongo # Đổi tên container để tránh trùng tên cũ
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mywebsite
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      # Cấu trúc: "PORT_MAY_THAT : PORT_TRONG_DOCKER"
      - "27018:27017"  # <--- QUAN TRỌNG: Map cổng 27018 ở ngoài vào 27017 bên trong
    volumes:
      - mongo_data:/data/db # Đổi tên volume để không dùng chung dữ liệu cũ
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  api:
    build: .
    container_name: website_api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      mongo:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app  # hot reload khi dev

volumes:
  pgdata:
  mongo_data: