.table__header--actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table__cell--actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rank {
  display: inline-flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  width: 100px;
}

/* Hiệu ứng hover nhẹ */
.rank:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: var(--transition);
}

/* Các màu phân biệt thứ hạng */
.rank--gold {
  background-color: #e6b800;
}

.rank--silver {
  background-color: #b0b0b0;
}

.rank--diamond {
  background-color: #00bcd4;
}

.rank--bronze {
  background-color: #cd7f32;
}

.rank--platinum {
  background-color: #9c27b0;
}
