.table__header--actions {
  text-align: right;
  width: 150px;
}

.table__header:first-child {
  width: 80px;
}

.table__header {
  text-align: center;
}

.table__cell {
  padding: 14px 16px;
  font-size: 14px;
  color: #212529;
  vertical-align: middle;
  text-align: center;
}

.table__cell--id {
  font-weight: 600;
  color: var(--text-secondary);
  width: 80px;
}

.table__cell--actions {
  text-align: right;
}
