/*Import front chữ Lato và Poppins từ Google Fronts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*
Reset CSS:bỏ margin, padding mặc định, dùng border-box để tính kích thước theo border + padding
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*bỏ gạch chân mặc định của link*/
a {
  text-decoration: none;
}

/*bỏ dấu chấm/số của danh sách*/
li {
  list-style: none;
}

/*CSS variable để tái sử dụng màu và font*/
:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #2563eb;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --blue-background: #d4e5fb;
}

/*Nền toàn trang => màu xám nhạt => sau này có thể đổi*/
body {
  background: var(--grey);
  font-family: var(--lato);
}

/*SIDEBAR*/

/*Cố định side bar bên trái, rộng 280px, chiếm toàn bộ chiều cao, nền sáng*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
}

#sidebar.hide {
  width: 60px;
}

/*Logo trong sidebar, thay đổi màu và phóng to, in đậm*/
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

/*Mỗi item trong side có chiều cao 40px, bo góc trái*/
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 40px 0 0 40px;
  padding: 4px;
}

/*Item nào active thì có nền xám nhạt*/
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
  z-index: 100;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar.hide .side-menu li.active a {
  color: var(--blue);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a:hover {
  color: var(--blue);
}
#sidebar .side-menu.top li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/*CONTENT*/
/*Phần content chiếm phần còn lại bên phải*/
/*
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
*/

#content {
  margin-left: 280px;
  width: calc(100% - 280px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

#sidebar.hide ~ #content {
  margin-left: 60px;
  width: calc(100% - 60px);
}

/*NAGBAR*/
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  justify-content: space-between;
}

#content nav .nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

#content nav .nav-left .bx.bx-menu {
  cursor: pointer;
  font-size: 24px;
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  padding: 4px; /* Tạo khoảng cách giữa icon và khung */
  transition: all 0.3s ease;
}

#content nav .nav-left .search-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-grey);
  border-radius: 8px; /* bo tròn */
  padding: 6px 12px;
  background: var(--light);
  width: 250px; /* chiều rộng khung search */
}

#content nav .nav-left .search-box i {
  margin-right: 6px;
  font-size: 18px;
  color: var(--dark-grey);
}

#content nav .nav-left .search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: var(--light);
}

#content nav .nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

#content nav .nav-right a {
  color: var(--dark);
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .nav-right .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .nav-right .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/*MAIN*/

#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--lato);
  font-weight: normal;
}

#content main button {
  border: 1px solid var(--dark-grey);
  border-radius: 8px; /* bo tròn góc */
  padding: 8px 16px; /* khoảng cách trong */
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--light);
}

/*HEAD TITLE*/
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title h1 {
  font-size: 30px;
}

#content main .head-title .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

#content main .head-title .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

/*TOOL BAR*/
#content main .toolbar {
  border: 1px solid var(--grey); /* viền xám nhạt */
  border-radius: 8px; /* bo góc mềm*/
  overflow: hidden; /* tránh viền bị lệch */
  margin-top: 24px;
  background: var(--light);
  width: 100%;
  font-family: var(--lato);
}

#content main .toolbar .toolbar-title {
  display: flex;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  padding: 24px;
  border-bottom: 1px solid var(--grey);
}

#content main .toolbar .toolbar-title .toolbar-title-left h3 {
  color: var(--dark);
  font-size: 20px;
}

#content main .toolbar .toolbar-title .toolbar-title-left p {
  color: var(--dark-grey);
  font-size: 14px;
}

#content main .toolbar .toolbar-title .toolbar-title-right {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

#content main .toolbar .toolbar-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  padding: 24px;
  border-bottom: 1px solid var(--grey);
}

#content main .toolbar .toolbar-bottom .search-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-grey);
  border-radius: 8px; /* bo tròn */
  padding: 6px 12px;
  background: var(--light);
  width: 250px; /* chiều rộng khung search */
}

#content main .toolbar .toolbar-bottom .search-box i {
  margin-right: 6px;
  font-size: 18px;
  color: var(--dark-grey);
}

#content main .toolbar .toolbar-bottom .search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: var(--light);
}

#content main .toolbar .table-data {
  display: flex;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  padding: 24px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#content main .toolbar .table-data {
  overflow: hidden;
}

#content main .toolbar .table-data table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* ép cột chia theo width */
}

#content main .toolbar .table-data th,
#content main .toolbar .table-data td {
  border-bottom: 1px solid var(--grey);
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  word-wrap: break-word; /* chữ dài sẽ xuống dòng */
  font-weight: normal;
}

/* Checkbox tròn */
.table-data table th input[type="checkbox"],
.table-data table td input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid var(--dark-grey); /* màu viền xám nhạt */
  border-radius: 4px; /* bo tròn */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

/* Khi hover */
.table-data table th input[type="checkbox"]:hover,
.table-data table td input[type="checkbox"]:hover {
  border-color: var(--blue); /* viền xanh khi hover */
}

/* Khi được tick */
.table-data table th input[type="checkbox"]:checked,
.table-data table td input[type="checkbox"]:checked {
  background-color: var(--blue); /* nền xanh */
  border-color: var(--blue);
  color: var(--light);
}

/* Vẽ dấu check */
.table-data table th input[type="checkbox"]:checked::after,
.table-data table td input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 12px;
  color: var(--light);
}

#content main .toolbar .table-data td img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

#content main .toolbar .table-data .action-cate .btn {
  cursor: pointer;
  font-size: 14px;
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  padding: 4px; /* Tạo khoảng cách giữa icon và khung */
  transition: all 0.3s ease;
}

#content main .toolbar .table-data .action-cate {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  align-items: center;
}

/*pagination*/
#content main .toolbar .table-data .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 28px 0 20px 0;
  width: 100%;
}

#content main .toolbar .table-data .pagination .item {
  margin: 0 12px;
}

#content main .toolbar .table-data .pagination .active .link {
  background-color: var(--orange);
  color: var(--light);
}

#content main .toolbar .table-data .pagination .active .link:hover {
  background-color: var(--blue);
}

#content main .toolbar .table-data .pagination .item .link {
  display: block;
  font-size: 10pt;
  color: var(--dark);
  min-width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
}

#content main .toolbar .table-data .pagination .item .bx {
  font-size: 30px; /* bằng chiều cao nút */
  line-height: 30px; /* canh giữa dọc */
  vertical-align: middle;
}
