/*Cột tên sản phẩm*/
.table__cell--name {
  max-width: 300px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Status Badge
.status-badge {
  &--active {
    background: #dcfce7;
    color: #16a34a;
  }

  &--inactive {
    background: #fee2e2;
    color: #dc2626;
  }
}
